/*------------------------------------*\
  MAIN
\*------------------------------------*/
html{
  font-family:"Helvetica Neue", Arial, sans-serif;
  color:#e4eef6;
  background:#4a8ec2;
  background:-moz-linear-gradient(-90deg,#5998c7,#4a8ec2) fixed;
  background:-webkit-gradient(linear,left top,left bottom,from(#5998c7),to(#4a8ec2)) fixed;
}
body{
  background:none;
  padding-top:50px;
  text-shadow:0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.25);
}
#page{
  margin:0 auto;
  float:none;
  text-align:center;
}

.aplace
{
  display: box;
  position: relative;
  width: 210px;
  min-height: 450px;
  height:450px;
  float: left;
  margin: 0 20px 20px 0;
  -moz-box-shadow: 3px 3px 8px #2B4D71;
  -webkit-box-shadow: 3px 3px 8px #2B4D71;
  box-shadow: 3px 3px 8px #2B4D71;
  padding: 10px;
  color:#333;
  background:#fff;
  overflow:hidden;
  text-shadow: none;
  border-radius: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.boldium
{
  
  font-size:400%;
  text-decoration: underline;
  cursor: pointer;
}

.review
{
  display:none;
}

.aplace .header
{
  color:black !important;
}

div.reviewactions
{
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}

div.reviewactions .check {
  font-weight: normal;
}
div.reviewactions .check:hover {
  background-color: #FFF2C6;
}

div.reviewactions .write {
  font-weight: bold;
}
div.reviewactions .write:hover {
  background-color: #FFF2C6;
}




/*------------------------------------*\
  TYPE
\*------------------------------------*/
h1{
  font-weight:bold;
  font-size:3em;
  line-height:1;
  display:inline;
}

h3{
  font-weight:bold;
  font-size:1.2em;
  line-height:1;
  margin-bottom:0px;
}
a{
  color:inherit;
}

.areview
{
  margin-bottom:5px;
  padding-bottom:5px;
  border-bottom: 1px solid #D2D2D2;
}





/*------------------------------------*\
  IMAGES
\*------------------------------------*/
#logo{
  margin-bottom:1.5em;
}





/*------------------------------------*\
  NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/





@media (min-width: 721px) and (max-width: 960px){}
/*--- END NARROW ---*/





/*------------------------------------*\
  MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/





@media (max-width: 720px){
body{
  font-size:0.75em;
}
}
/*--- END MOBILE ---*/